.page-header{
	text-align: center;
	height: 225px;
	background-color: #00b0ff;
}

.title{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Life Savers', cursive;
}

.main-content{
	margin-top: 20px;
}

/*Materialize Buttons*/

.btn{
	background-color: #00b0ff;
}

.btn:hover {
  background-color: #03a9f4;
}

/*Materialize Inputs*/

/* label color */
   .input-field label {
     color: #00b0ff;
   }

  /* /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #00b0ff !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #00b0ff !important;
     box-shadow: 0 1px 0 0 #00b0ff !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #00b0ff !important;
     box-shadow: 0 1px 0 0 #00b0ff !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #00b0ff !important;
     box-shadow: 0 1px 0 0 #00b0ff !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #00b0ff !important;
   }

   ul.dropdown-content.select-dropdown li span {
    color: #00b0ff; 
}

input.select-dropdown.dropdown-trigger{
	color: #00b0ff;
}

#reset-button{
	width: 90%;
    background-color: red;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

#reset-button:hover{
	background-color: #ff8a80;
}





